@page
@model RazorPage.Pages.Account.SignUpModel
@{
}


<div class="container border p-4 rounded-3 w-25 mx-auto">
    <form method="post" class="d-flex flex-column gap-4">
        <p class="display-4">Signup</p>

        <div class="form-floating">
            <input asp-for="credential.Fullname" type="text" class="form-control" id="floatingInput" placeholder="" />
            <label asp-for="credential.Fullname" for="floatingInput"></label>
            <span asp-validation-for="credential.Fullname" class="text-danger"></span>
        </div>

        <div class="form-floating">
            <input asp-for="credential.PhoneNumber" type="tel" class="form-control" id="floatingInput" placeholder="" />
            <label asp-for="credential.PhoneNumber" for="floatingInput"></label>
            <span asp-validation-for="credential.PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-floating">
            <input asp-for="credential.DateOfBirth" type="date" class="form-control" id="floatingInput" placeholder="" />
            <label asp-for="credential.DateOfBirth" for="floatingInput"></label>
            <span asp-validation-for="credential.DateOfBirth" class="text-danger"></span>
        </div>

        <div class="form-floating">
            <input asp-for="credential.Email" type="text" class="form-control" id="floatingInput" placeholder="" />
            <label asp-for="credential.Email" for="floatingInput"></label>
            <span asp-validation-for="credential.Email" class="text-danger"></span>
        </div>

        <div class="form-floating">
            <input asp-for="credential.Password" type="password" class="form-control" id="floatingInput" placeholder="" />
            <label asp-for="credential.Password" for="floatingInput"></label>
            <span asp-validation-for="credential.Password" class="text-danger"></span>
        </div>

        <div class="form-floating">
            <input asp-for="credential.ConfirmPassword" type="password" class="form-control" id="floatingInput" placeholder="" />
            <label asp-for="credential.ConfirmPassword" for="floatingInput"></label>
            <span asp-validation-for="credential.ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary w-100">Signup</button>
        <a href="/Index" role="button" class="btn btn-outline-primary w-100">
            Login
        </a>
        <div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly"></div>
    </form>
</div>