@page
@model RazorPage.Pages.Account.VerifyMailModel
@{
    var email = Model.Verify.Email;
}

<div class="container border p-4 rounded-3 w-25 mx-auto">
    <form method="post" class="d-flex flex-column gap-4">
        <p class="display-4">Verify</p>

        <p>An verify code has been sent to @email, please check your mail box.</p>

        <input asp-for="Verify.Email" class="form-control" type="text" value="@email" readonly hidden/>

        <div class="form-floating">
            <input asp-for="Verify.VerifyCode" type="text" class="form-control" id="floatingInput" placeholder="" />
            <label asp-for="Verify.VerifyCode" for="floatingInput"></label>
            <span asp-validation-for="Verify.VerifyCode" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary w-100">Verify</button>
        <div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly"></div>
    </form>
</div>